body {
  background-color: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  color: 300;
  font-size: #7d7d7d;
  line-height: 1.6m;

}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 22px;
  color: orangered;
}

h2 {
  font-size: 18px;
  font-weight: 500;
}

h3 {
  font-size: 14px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: darkred;
  text-decoration: underline;
}

table {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6em;
  border-collapse: collapse;
}

table > tbody > tr {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

td {
  padding: 20px auto;
}

#content{
  margin-left: 120px;
}

.container-fluid{
  width: 90%;
  margin: 30px auto;
}

/* Responsive layout behavior */

@media (max-width: 768px) {
  #content{
    margin-left: 0px;
  }
  #sidebar {
    display: none;
  }
}

.text-center {
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px
}

.img-circle {
  border-radius: 100px;
}

.inline-list {
  padding-left: 0px;
}
.inline-list > li {
  display: inline-block;
  padding: 0px 20px;
}

/*Fixed Sidebar*/
#sidebar {
  background-color: #384047;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 120px;
  text-align: center;
}

#sidebar ul {
  list-style: none;
  padding-left: 0px;
}

#sidebar li {
  margin-top:50px;
  margin-bottom: 50px;
}

#sidebar a {
  text-decoration: none;
  font-size: 25px;
  color:#788188;
}

#sidebar a:hover {
  color: white;
}

/*Movies table*/

#movies{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

#movies img{
  width: 80px;
}

